<%- include partials/header %>
<%- include partials/nav %>

<form class="feild column is-4 is-offset-4" method="post" action="/sign-in">
  <div class="has-text-centered title">
    Sign In
  </div>
  <div class="control">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          Email:
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <input class="input" type="text" name="email" value="jhallman5@gmail.com" />
        </div>
      </div>
    </div>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            Password:
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <input class="input" type="text" name="password" value="tomato" />
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-left">
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button" type="submit">Sign-in</button>
          </div>
        </div>
      </div>
  </div>
</form>

<%- include partials/footer %>
