<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl</title>
    <link rel="stylesheet" type="text/css" href="/bulma/bulma.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
